#carouselExampleCaptions {
    padding-bottom: 100px;
}



#book {
    padding-bottom: 100px;
}

#red {
    color: red;
}

#try {
    float: right;
    justify-content: right;
}

.sitefooter {
    padding-top: 50px;
    background-color: rgb(2, 2, 83);
    color: white;
}

.combine {
    background-image: Rectangle12 height="400px" width="700px";
    /* color: white; */
}

.navbar a {
    color: white;
}

.navbar a:active{
    color: blue;
}